<div class="form-group">
  <label for="password">{{ label }}</label>
  <input type="password" name="password" id="password" [formControl]="control" [class.error]=""control.invalid && (control.dirty || control.touched)/>

  @if (control.invalid && (control.dirty || control.touched)) {
    <div class="password-feedback">
        @if (errors?.["required"]) {
            <small class="error-text">{{ label }} is required.</small>
        }

        @if (errors?.["passwordPolicy"]; as policy) {
            <p class="policy-header">
                Password must contain:
            </p>

            <ul class="policy-list">
                <li [class.valid]="!policy.tooShort && !policy.tooLong"
                    [class.invalid]="policy.tooShort || policy.tooLong">
                    {{ policy.requiredMin }}-{{ policy.requiredMax }} characters
                </li>

                <li [class.valid]="!policy.missingUpper"
                    [class.invalid]="policy.missingUpper">
                    Uppercase letter
                </li>

                <li [class.valid]="!policy.missingLower"
                    [class.invalid]="policy.missingLower">
                    Lowercase letter
                </li>

                <li [class.valid]="!policy.missingNumeric"
                    [class.invalid]="policy.missingNumeric">
                    Number
                </li>

                <li [class.valid]="!policy.missingSpecial"
                    [class.invalid]="policy.missingSpecial">
                    Special character
                </li>
            </ul>
        }
    </div>
  }
</div>
